*{
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}

.header {
  box-shadow: 0px 0px 24px 2px #375CA5;
  background-color: #cfcf3c;
  width: 100%;
  height: 80px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.logo{
  background-image: url("./logo.png");
  width: 210px;
  height: 75px;
  background-size: cover;
}

.contenedor {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.after-before {
  text-align: center;
  margin: 20px;
}

.btn {
  border: none;
  background-color: #09467F;
  margin: 10px;
  width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.5s;
}

.btn:hover{
  cursor: pointer;
  background-color: #0e62b1;
  transition: 0.5s;
}

.contenedor-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: wrap;
}

.card {
  margin: 10px;
  text-align: center;
  box-shadow: 1px 1px 2px;
  border-radius: 5px;
  transition: 1s;
  background-color: #D60A2B;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  max-width: 200px;
  max-height: 262px;
}

.card:hover {
  transform: scale(1.1);
  transition: 1s;
}

.img-card{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ver.mas {
    font-size: 14px;
    margin: 10px;
}


/* pokemon details */
.container-details {
  width: 100%;
  display: flex;
  background-color: #2f4f4f;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-details {
  margin: auto;
  min-height: 420px;
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  box-sizing: border-box;
  border: 5px white solid;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.img-details {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}

.cuerpo-details {
  line-height: 30px;
  text-transform: capitalize;
}

p:nth-child(1) {
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
}

ul li {
  margin-left: 27px;
}


/* SPINNER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #D60A2B;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


@media (max-width:415px){
  .card-details{
    width: 316px;
  }
  .img-details {
    width: 200px;
    height: 200px;
  }
}